{{ $q := .Request.URL.Query }}
{{ $nsp := item $q "nsp" }}
{{ $rows := api "index" "nsp" $nsp}}
{{ $t := "API methods" }}
{{ .SetTitle $t }}
<div class="row">
  <div class="small-12 small-centered columns">
<h1>{{ $t }}</h1>
<table>
 <thead>
    <tr>
      <th>Code</th>
      <th>Args</th>
      <th>Result</th>
      <th>Read-only</th>
      <th>Set of rows</th>
      <th>Struct</th>
      <th>Namespace</th>
      <th>Function</th>
      <th>Anno</th>
    </tr>
  </thead>
  <tbody>
{{ range $rows }}
<tr>
  <td>{{ .code }}</td>
  <td><a href="func_args/?code={{.code}}">args</a></td>
  <td>{{ if and .result (not .is_struct) }}
    {{ .result }}{{ else }}
    <a href="func_result/?code={{.code}}">{{ if .result }}{{.result}}{{ else }}[struct]</a></td>{{ end -}}
{{end}}
  <td>{{ bool .is_ro }}</td>
  <td>{{ bool .is_set }}</td>
  <td>{{ bool .is_struct }}</td>
  <td>{{ .nspname }}</td>
  <td>{{ .proname }}</td>
  <td>{{ .anno }}</td>
</tr>
{{end}}
</tbody>
</table>
</div>
</div>
