{{/*
    Page <head> block

*/ -}}
{{ $fh := request.Header.Get "X-Forwarded-Host" }}
{{ $rh := request.Host }}
<title>{{ if .Title }}{{.Title}} -- {{ end }}{{ or $fh $rh }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css" rel='stylesheet' type='text/css'>
