{{/*
    Default page payout

*/ -}}
<!DOCTYPE html>
<html>
<head>
    {{ template "head.tmpl" . -}}
</head>
<body style="padding:20px">
    {{ .Content -}}
    {{ template "foot.tmpl" . -}}
</body>
</html>
