{{/*
    Default page payout

*/ -}}
<!DOCTYPE html>
<html>
<head>
{{ if .Error }}{{ if not .Title }}{{ printf "Ошибка %d: ой" .Status | .SetTitle }}{{ end }}{{ end }}
    {{ template "head" . -}}
</head>
<body style="padding:20px">
    {{ if .Error }}{{ .ErrorMessage }}
    {{ else}}{{ content | HTML -}}
    {{ end -}}
    {{ template "foot" . -}}
</body>
</html>
