{{/*
    Default page payout

*/ -}}
<!DOCTYPE html>
<html>
<head>
{{ if .Error }}{{ .Error | printf "Ошибка %d: %s" .Status | .SetTitle }}{{ end}}
    {{ template "head" . -}}
</head>
<body style="padding:20px">
    {{ if .Error }}{{ .Error }}
    {{ else}}{{ content | HTML -}}
    {{ end -}}
    {{ template "foot" . -}}
</body>
</html>
